@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*font-family:  Arial, Helvetica, sans-serif;*/
    font-family:  "PT Sans", sans-serif;
}
/*  modal win           */
.form-submit,.phone-submit{
    background: #f7b046;
    padding: 10px 12px;
    border-radius: 20px;
    color:white;
}
.form-submit:hover,.phone-submit:hover{
    background: #F6A328;
}
.fields .field  input{
    border:1px solid #cccccc;
    height: 33px;
    border-radius: 7px;
    width:100%;
    padding:0 5px 0 5px;
    /*font-size:20px !important;*/
}
.fields .field .field .field .input textarea{
    width:100%;
    padding:5px;
    border:1px solid #cccccc;
}
.alert-danger{
    color:red;
}
.alert-success{
    color:green;
}


/* anchor  begin */
.anchor {
    padding-top: 98px;
    margin-top: -98px;
    -webkit-background-clip: content-box;
    background-clip: content-box;

}

/* anchor  end */

header{
    height: 98px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.9;

}
.content{
    width:1125px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
header .rightModule{
    max-width: 820px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header  .logo img{
    width: 128px;
}

header .rightModule nav ul{
width: 340px;
display: flex;
justify-content: space-between;
}

header .rightModule nav ul li{
    list-style-type: none;
    margin-bottom: 5px;
}

header .rightModule nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;

}

header .rightModule nav ul li a:hover{
    color: #F9C271;
    transition-duration: 0.2s;
}

header .content .rightModule .collButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 53px;
    background-color: #F6B34E;
    border-radius: 8px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

header .content .rightModule .collButton:hover{
    background-color: #F6A732;
    transition-duration: 0.5s;
}
header .content .rightModule .numberPhone{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 260px;
}
header .content .rightModule .numberPhone a{
    text-decoration: underline;
    font-size: 2em;
    transition: .3s;
    color:rgb(0,84,165) ;
    font-weight: 700;
    font-family: "Roboto Slab";
}
header .content .rightModule .numberPhone a:hover{
    transform: scale(1.05);
}
header .content .rightModule .numberPhone p{
    font-family: "Roboto Slab";
    font-size: 1.2em;
    color: rgb(0, 84, 165);
    font-weight: 500;
}
/* Header end */
/* firstBlock begin******************************** */
.firstBlockContent{
    background-color: rgba(46, 46, 46, 0.87);
    min-height: 834px;
    display: flex;
    justify-content: center;
}

.firstBlock{
   color: white;
   background-image: url("../img/building.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom;
}
 .topBlock{
    height: 98px;
}

.firstBlockContentWrapper{
    max-width: 1145px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0 10px;
}

.firstBlockContentWrapper .leftBlock{
 max-width: 670px;
 width: 100%;
}

.firstBlockContentWrapper .leftBlock h1{
    font-size: 40px;
    font-family: "Roboto Slab";
    font-weight: 600;
    margin-top: 161px;
    margin-bottom: 25px;
    transition: .3s;
}

.firstBlockContentWrapper .leftBlock h1:hover{
    transform: scale(1.05);
}

.firstBlockContentWrapper .leftBlock ul {

    margin-bottom: 88px;
}
.firstBlockContentWrapper .leftBlock ul li{
    list-style: none;
    background: url('../img/listMark.png') no-repeat 0 4px;
    padding-left: 24px;
    font-family: "Roboto Slab";
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}
.firstBlockContentWrapper .leftBlock .phoneNumberBlock {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 27px;
}
.firstBlockContentWrapper .leftBlock .phoneNumberBlock h3{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 0.05em;
    margin-right: 10px;
    font-family: 'PT Serif Caption',serif;
}
.firstBlockContentWrapper .leftBlock .phoneNumberBlock a{
    color: rgb(25, 181, 230);
    font-weight: bolder;
    font-size: 36px;
}

.firstBlockContentWrapper .leftBlock .button{
    background-color: #f7b046;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 190px;
    height: 53px;
    margin: 0 auto 135px auto;
    cursor: pointer;
}
.firstBlockContentWrapper .leftBlock .button:hover{
    background-color: #F6A328;
}
.rightBlock{
    max-width:460px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rightBlock form{
    max-width: 300px;
    min-width: 220px;
    width: 100%;
    height: 267px;
    padding: 27px 22px 18px 22px;
    background-color: #171717;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.headerForm{
    width: 100%;
    text-align: center;
    margin-bottom: 39px;
}
.inputs{
    width: 100%;
    margin: 0 0 14px 0;
}
.inputs input{
    width: 100%;
    height: 32px;
    background-color:#2e2e2e ;
    outline: none;
    border: none;
    border-radius: 5px;
}

.inputs p{
    width: 100%;

}

.rightBlock form button{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #f7b046;
    margin-top: -10px;
}

.rightBlock form button:hover{
    background-color: #F6A328;
}

.leftBlock h1:hover {
    transform: scale(1.05);
}
.leftBlock h1 {
    transition: .3s;
}
/* firstBlock end******************************** */
/* secondBlock begin******************************** */
.secondBlock{
    background-image: url("../img/man.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.secondBlockContent{
    background-color: rgba(255, 255, 255, 0.67);
}
.secondBlockContentWrapper{
    min-height: 1056px;
    max-width: 1145px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.secondBlockContentWrapper h3 {
    font-size: 32px;
    margin: 80px 0 58px 0;
}
.secondBlockContentWrapper button {
    background-color: #f7b046;
    border: 10px solid #f7b046;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 190px;
    height: 53px;
    margin: 40px 0 75px 0;
    cursor: pointer;
}
.secondBlockContentWrapper button:hover {
    background-color: #F6A328;
    border-color: #F6A328;

}
.centerElements{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 565px;
    width: 100%;

    flex-grow: 1;

}
.item{
    display: flex;
    align-items: center;
}
.item img{
    width: 50px;
    height: 50px;
}
.itemText{
    margin-left: 18px;
}
.itemText h4{
    font-size: 20px;
}
.itemText p{
    font-size: 18px;
}

/* thirdBlock begin******************************** */
.thirdBlockContentWrapper{
    min-height: 750px;
    max-width: 1145px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.thirdBlockContentWrapper h3 {
    font-size: 36px;
    margin: 72px 0 38px 0;
}

.thirdCenterElements{
    max-width: 761px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.thirdCenterElements .item{
    width: 369px;
    min-height: 128px;
    margin-bottom: 15px;
    height: 100%;
    padding-left: 5px;
    -webkit-box-shadow: 0px 2px 3px 3px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 2px 3px 3px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 2px 3px 3px rgba(34, 60, 80, 0.1);
}


.thirdCenterElements .item .itemText h4{
   font-size:16px ;
   display: flex;
   align-items: center;
   margin-bottom: 8px;

}
.thirdCenterElements .item .itemText p{
   font-size:12px ;
}




.thirdBlockContentWrapper button {
    background-color: #f7b046;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 190px;
    margin: 40px 0 75px 0;
    height: 53px;
    cursor: pointer;
}

.thirdBlockContentWrapper button:hover {
    background-color: #F6A328;
    border-color: #F6A328;
}
/* thirdBlock end******************************** */
/* footer begin******************************** */


footer{
    height: 105px;
    width: 100%;
    border-top:6px solid  #F7B046;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.9;
}

footer .rightModule{
    /* outline: 1px solid red; */
    width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer  .logo img{
    width: 128px;
}
footer  nav{
    display: flex;
    align-items: center;
}
footer  nav ul{
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer  nav ul li{
    list-style-type: none;
}

footer  nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;

}

footer nav ul li a:hover{
    color: #F9C271;
    transition-duration: 0.2s;
}

footer .content  .numberPhone{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
footer .content  .numberPhone a{

    font-size: 2em;
    color: #F7B046;
    transition: .3s;
}

footer .content  .numberPhone a:hover{
    transform: scale(1.05);
}
footer .content .numberPhone p{

    font-size: 1.2em;
    color: rgb(0, 84, 165);
    font-weight: 500;
}


/* footer end******************************** */

/* @ media begin *************************************************************************** */
@media (max-width:1200px) {

}
@media (max-width:992px) {

    header .rightModule nav ul{
        width: 100%;
        display: block;

        }
    header .rightModule{
        justify-content: end;
    }
    header .content .rightModule .collButton{
        margin: 0 10px;
    }
    .firstBlockContentWrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .firstBlockContentWrapper .leftBlock .button{
        display: none;
    }

}
@media (max-width:776px) {

    .thirdCenterElements {
       justify-content: center;
    }
    .thirdCenterElements .item{
        width: 100%;
}
header .content .rightModule .numberPhone{
    display: none;
}
footer nav ul {
    width: 100%;
    display: block;

}
}
@media (max-width:776px) {

    footer  .logo img{
        display: none;
    }
}
@media (max-width:440px) {
    header .rightModule nav{
        margin-right: 10px;
    }
    header .content .rightModule .collButton {
        display: none;
    }
    footer .content .numberPhone {
        display: none;
    }
    footer  .logo img{
        display: block;
    }
    .firstBlockContentWrapper .leftBlock h1 {
        font-size: 30px;
        margin-top: 80px;
    }
    .firstBlockContentWrapper .leftBlock ul li{
        font-size: 15px;
    }
    .itemText p{
        font-size: 15px;
    }
    .itemText h4{
        font-size: 18px;
    }
}
@media (max-width:318px) {

    .firstBlockContentWrapper .leftBlock h1 {
        font-size: 20px;
    }
}

/* @ media end *************************************************************************** */
